{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
		
		
		
        <title> Sana's Blog</title>
		<div class="page-header">
			<h1>Sana's  Blog</h1>
		</div>

      

        <meta name="author" content="Sana Patel">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'css/blog.css' %}"> 
    </head>

	{% for post in posts %}
	<div class= "post-containers grid">
		<div class="post">
		
			<p><h5>published: {{ post.published_date }}</h5></p>
			<h2>{{ post.title }}</h2>
			<p><h4>{{ post.text|linebreaksbr }}</h4></p>
		</div>
		
    </div>
{% endfor %}
</html>